.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
}

.navbar-title {
    margin-top: 1rem;
}
.navbar-title-text {
    font-size: 17px;
}

.navbar-menu-links-list {
    transition: all 100ms;
    display: flex;
    gap: 1.25rem;
    text-decoration: none;
    list-style: none;
}

.navbar-menu-link {
    font-size: 17px;
    font-weight: lighter;
    letter-spacing: 1px;
    color: black;
    transition: all 100ms;
    padding: 0.75rem 0.5rem;
}

.navbar-menu-link:hover {
    transition: all 100ms;
    color: rgba(255, 255, 255, 0.85);
}

.link-active {
    color: rgba(255, 255, 255, 0.85);
}

.search-icon {
    padding-left: 1rem;
    padding-right: 1rem;
}
