@import url("https://fonts.googleapis.com/css2?family=Lekton&display=swap");

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(94, 128, 238);
    font-family: "Lekton", sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.fade-in {
    animation: fadeIn 555ms;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.button {
    transition: all 100ms;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0.75rem 1.5rem;
    font-weight: bold;
    border-radius: 6px;
    font-family: "Comfortaa", cursive;
    border: none;
}
.button:hover {
    transition: all 100ms;
    background-color: rgba(255, 255, 255, 0.75);
}

/* ---- ABOUT ---- */
.about-text {
    text-align: center;
    columns: black;
    font-size: 16px;
    padding: 0 0.5rem;
}
.about-text-paragraph {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    line-height: 28px;
}

/* ---- SKILLS ---- */
.skills-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 1rem;
    padding: 0 2rem;
    margin: 1rem 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.skill-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* .skill-card {
    background-color: black;
    box-shadow: 6px 6px rgba(0, 0, 0, 0.25);
    width: fit-content;
    padding: 0.5rem;
} */

.skill-logo {
    width: 75px;
    padding: 0.5rem;
}

/* ---- PROJECTS SECTION ---- */

.projects-section {
    margin-top: 1rem;
}

.projects-section-container {
    text-align: center;
    padding: 0 3rem;
}

.projects-container {
    display: grid;
    gap: 3rem;
    grid-template-columns: auto auto auto;
}

.section-title {
    margin-bottom: 4rem;
}

.project-card {
    transition: all 200ms;
    height: 25rem;
    border-radius: 10px;
    cursor: pointer;
}

.project-red {
    background-color: rgb(238, 94, 128);
}
.project-red:hover {
    background-color: rgb(119, 47, 64);
}

.project-orange {
    background-color: rgb(238, 128, 94);
}
.project-orange:hover {
    background-color: rgb(119, 64, 47);
}

.project-green {
    background-color: rgb(94, 238, 128);
}
.project-green:hover {
    background-color: rgb(47, 128, 64);
}

/* ---- BLOG SECTION ---- */
.blog-section {
    text-align: center;
}

/* ---- CONTACT SECTION ---- */
.contact-section {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.contact-section-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contact-info-form-container {
    transition: all 100ms;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2.5rem 0;
    gap: 3rem;
}

.contact-info {
    display: flex;
    flex-direction: column;
    text-align: start;
    font-size: 16px;
}

.info-box {
    transition: all 100ms;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.info-box-icon {
    font-size: 30px;
    color: black;
}

/* --- Form --- */
form {
    transition: all 100ms;
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 100%;
}

.input-field,
textarea {
    transition: all 100ms;
    font-family: "Comfortaa", cursive;
    font-size: 12px;
    padding: 1rem 0.75rem;
    border: none;
    width: 250px;
    background-color: rgb(25, 25, 25);
    color: white;
}
.input-field:focus,
textarea:focus {
    transition: all 100ms;
    background-color: rgb(0, 0, 0);
}

textarea {
    margin-top: 0.5rem;
    width: 96%;
}

.name-and-email-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    /* width: 200px; */
}

.submit-button {
    font-size: 14px;
    cursor: pointer;
}

@media (max-width: 1000px) {
    .contact-section {
        padding-bottom: 3.5rem;
    }
    .contact-info-form-container {
        transition: all 100ms;
        gap: 1rem;
    }
    form {
        transition: all 100ms;
        width: 100%;
    }
    .input-field,
    textarea {
        transition: all 100ms;
        font-size: 12px;
        padding: 1rem 0.75rem;
        width: 140px;
    }
    textarea {
        margin-top: 0.5rem;
        width: 94%;
    }
}

@media (max-width: 700px) {
    .contact-info-form-container {
        transition: all 100ms;
        flex-direction: column;
        gap: 1rem;
    }
    form {
        transition: all 100ms;
        width: 100%;
    }
    .input-field,
    textarea {
        transition: all 100ms;
        font-size: 11px;
        padding: 0.75rem 0.5rem;
        width: 100%;
    }
    textarea {
        margin-top: 0.5rem;
        width: 100%;
    }
    .name-and-email-container {
        flex-direction: column;
    }
}
